
<!DOCTYPE html>
 <html class="no-js"> 
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Market tradings</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Template by FREEHTML5.CO" />
	<meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive" />
	<meta name="author" content="FREEHTML5.CO" />
  <!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />
	<link rel="shortcut icon" href="favicon.ico">
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,100,500' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
	<link href="css/login-register.css" rel="stylesheet" />
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
	<!-- Animate.css -->
	<link rel="stylesheet" href="css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="css/icomoon.css">
	<!-- Owl Carousel -->
	<link rel="stylesheet" href="css/owl.carousel.min.css">
	<link rel="stylesheet" href="css/owl.theme.default.min.css">
	<!-- Magnific Popup -->
	<link rel="stylesheet" href="css/magnific-popup.css">
	<!-- Theme Style -->
	<link rel="stylesheet" href="css/style.css">
	<!-- Modernizr JS -->
	<script src="js/modernizr-2.6.2.min.js"></script>
	</head>
	<body>		
	<header id="fh5co-header" role="banner">
		<nav class="navbar navbar-default" role="navigation">
			<div class="container-fluid">
				<div class="navbar-header"> 
				<a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle" data-toggle="collapse" data-target="#fh5co-navbar" aria-expanded="false" aria-controls="navbar"><i></i></a>
				<a class="navbar-brand" href="/">LOGO PLACE</a>
				</div>
				<div id="fh5co-navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="#fh5co-clients"><span>About <span class="border"></span></span></a></li>
						<li><a href="" data-toggle="modal" onclick=" showLoginForm();" data-target="#loginModal"><span>Login <span class="border"></span></span></a></li>
					</ul>
				</div>
			</div>
		</nav>
	</header>
	<!-- END .header -->
	<div class="fh5co-slider">
		<div class="owl-carousel owl-carousel-fullwidth">
		    <div class="item" style="background-image:url(images/slide_1.jpg)">
		    	<div class="fh5co-overlay"></div>
		    	<div class="container">
		    		<div class="row">
		    			<div class="col-md-8 col-md-offset-2">
			    			<div class="fh5co-owl-text-wrap">
						    	<div class="fh5co-owl-text text-center to-animate">
						    		<h1 class="fh5co-lead">TRADE for TODAY</h1>
									<h2 class="fh5co-sub-lead"> Coming soon! <a href="#"></a></h2>
						    	</div>
						    </div>
					    </div>
		    		</div>
		    	</div>
		    </div>
		    <div class="item" style="background-image:url(images/slide_2.jpg)">
		    	<div class="fh5co-overlay"></div>
		    	<div class="container">
		    		<div class="row">
		    			<div class="col-md-8 col-md-offset-2">
			    			<div class="fh5co-owl-text-wrap">
						    	<div class="fh5co-owl-text text-center to-animate">
						    		<h1 class="fh5co-lead">A Market Trade</h1>
									<h2 class="fh5co-sub-lead">We will come soon <a href="#"></a></h2>
						    	</div>
						    </div>
					    </div>
		    		</div>
		    	</div>
		    </div>
		    <div class="item" style="background-image:url(images/slide_3.jpg)">
		    	<div class="fh5co-overlay"></div>
		    	<div class="container">
		    		<div class="row">
		    			<div class="col-md-8 col-md-offset-2">
			    			<div class="fh5co-owl-text-wrap">
						    	<div class="fh5co-owl-text text-center to-animate">
						    		<h1 class="fh5co-lead">Branding, UX under in one roof</h1>
									<h2 class="fh5co-sub-lead">B <a href="#"></a></h2>
						    	</div>
						    </div>
					    </div>
		    		</div>
		    	</div>
		    </div>
		    <div class="item" style="background-image:url(images/slide_4.jpg)">
		    	<div class="fh5co-overlay"></div>
		    	<div class="container">
		    		<div class="row">
		    			<div class="col-md-8 col-md-offset-2">
			    			<div class="fh5co-owl-text-wrap">
						    	<div class="fh5co-owl-text text-center to-animate">
						    		<h1 class="fh5co-lead">Creative Brain</h1>
									<h2 class="fh5co-sub-lead">We are creative and enthusiastic Market expert team!! <a href="#"></a></h2>
						    	</div>
						    </div>
					    </div>
		    		</div>
		    	</div>
		    </div>
		</div>
	</div>	
	<div id="fh5co-main">
		<!-- Features -->
		<div id="fh5co-features">
			<div class="container">
				<div class="row text-center">
					<div class="col-md-8 col-md-offset-2">
						<h2 class="fh5co-section-lead">Resources</h2>
					</div>
					<div class="fh5co-spacer fh5co-spacer-md"></div>
				</div>
				<div class="row">
					<div class="col-lg-3 col-md-3 col-sm-4 col-xs-4">
						<a  href="" data-toggle="modal"data-target="#blogmodal">
			            	<h4 >Monitoring around the clock.</h4></a>
							<p>Any funds you put into the exchange are only used to facilitate trading through your account. Unlike banks, we do not operate on fractional reserves.</p></a>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-4 col-xs-4">
						<a  href="" data-toggle="modal"data-target="#blogmodal">
			            <h4 =>Keeping hackers out.</h4></a>
						<p>The vast majority of customer deposits are stored offline in air-gapped cold storage. We only keep enough online to facilitate active trading, which greatly minimizes risk and exposure.</p>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-4 col-xs-4">
						<a  href="" data-toggle="modal"data-target="#blogmodal">
			            <h4 =>Your funds are yours. Period.</h4></a>
						<p>Any funds you put into the exchange are only used to facilitate trading through your account. Unlike banks, we do not operate on fractional reserves.</p>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-4 col-xs-4">
					<a  href="" data-toggle="modal"data-target="#blogmodal">
			            <h4 =>Marcket Trading Trends.</h4></a>
						<p>The vast majority of customer deposits are stored offline in air-gapped cold storage. We only keep enough online to facilitate active trading, which greatly minimizes risk and exposure.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	 <div class="modal fade login" ng-app="userlogin"   id="loginModal">
		      <div class="modal-dialog login animated">
    		      <div class="modal-content">
    		         <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Login with</h4>
                    </div>
                    <div class="modal-body">  
                        <div class="box">
                             <div class="content">
                                <div class="social">
                                    <a class="circle github" href="/auth/github">
                                        <i class="fa fa-linkedin fa-fw"></i>
                                    </a>
                                    <a id="google_login" class="circle google" href="/auth/google_oauth2">
                                        <i class="fa fa-twitter fa-fw"></i>
                                    </a>
                                    <a id="facebook_login" class="circle facebook" href="/auth/facebook">
                                        <i class="fa fa-facebook fa-fw"></i>
                                    </a>
                                </div>
                                <div class="division">
                                    <div class="line l"></div>
                                      <span>or</span>
                                    <div class="line r"></div>
                                </div>
                                <div class="error"></div>
                                <div class="form loginBox" ng-controller="LoginController" >
                                    <form method="post" action="/signin" accept-charset="UTF-8">
                                    <input id="email" class="form-control" type="text" placeholder="Email" name="email" >
									<p id="data" style="color: red;font-size: 15px"></p>
                                    <input id="password" class="form-control" type="password" placeholder="Password" name="password" >
                                    <input class="btn btn-default btn-login" type="button" value="Login"  ng-click="signin()">
                                    </form>
                                </div>
                             </div>
                        </div>
                        <div class="box " ng-controller="RegisterController">
                            <div class="content registerBox" style="display:none;">
                             <div class="form">
                                <form method="post" html="{:multipart=>true}" data-remote="true"  accept-charset="UTF-8">
                                <input id="username" class="form-control" type="text" placeholder="Username" name="username"required>
								<p id="data" style="color: red;font-size: 15px"></p>
								<input id="email" class="form-control" type="text" placeholder="Email" name="email" required>
                                <input id="password" class="form-control" type="password" placeholder="Password" name="password" required>
                                <input id="password_confirmation" class="form-control" type="password" placeholder="Repeat Password" name="password_confirmation">
                                <input class="btn btn-default btn-register" type="submit" ng-click="signup()" value="Create account" name="commit">
                                </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="forgot login-footer">
                            <span>Looking to 
                                 <a href="javascript: showRegisterForm();">create an account</a>
                            ?</span>
                        </div>
                        <div class="forgot register-footer" style="display:none">
                             <span>Already have an account?</span>
                             <a href="javascript: showLoginForm();">Login</a>
                        </div>
                    </div>        
    		      </div>
		      </div>
		  </div>
		<!-- Video Blog -->
		<div class="fh5co-spacer fh5co-spacer-lg"></div>		
		<!-- Products -->
		<div class="container" id="fh5co-products">
			<div class="row text-left">
				<div class="col-md-8 col-md-offset-5">
					<h2 class="fh5co-section-lead">Video Blogs</h2>
				</div>
				<div class="fh5co-spacer fh5co-spacer-md"></div>
			</div>
			<div class="row">
				<div class="col-lg-3 col-md-3 col-sm-4 col-xs-4">
					<h3>Market place</h3>
					<p>This is demo video</p>
						<iframe src="http://player.vimeo.com/video/1063136?title=0&amp;byline=0&amp;portrait=0" width="400" height="225" frameborder="0"></iframe>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-4 col-xs-4">
					<h3>Market place</h3>
					<p>This is demo video</p>
						<iframe src="http://player.vimeo.com/video/1063136?title=0&amp;byline=0&amp;portrait=0" width="400" height="225" frameborder="0"></iframe>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-4 col-xs-4">
					<h3>Market place</h3>
					<p>This is demo video</p>
						<iframe src="http://player.vimeo.com/video/1063136?title=0&amp;byline=0&amp;portrait=0" width="400" height="225" frameborder="0"></iframe>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-4 col-xs-4">
					<h3>Market place</h3>
					<p>This is demo video</p>
						<iframe src="http://player.vimeo.com/video/1063136?title=0&amp;byline=0&amp;portrait=0" width="400" height="225" frameborder="0"></iframe>
				</div>
				<div class="visible-sm-block visible-xs-block clearfix"></div>
			</div>
		</div>
		<!-- About Us -->
		<div id="fh5co-clients">
			<div class="container">
				<div class="row">
					<h1>About Us</h1>
				</div>
			</div>
		</div>		
	<footer id="fh5co-footer">		
		<div class="container">
			<div class="row fh5co-row-padded fh5co-copyright">
				<div class="col-md-5">
					<p><small>&copy; . All Rights Reserved. <br>Designed by: <a href="/" target="_blank">Creative Brain</a> </small></p>
				</div>
			</div>
		</div>
	</footer>
	<!-- jQuery -->
	<script src="js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="js/bootstrap.min.js"></script>
	<!-- Owl carousel -->
	<script src="js/owl.carousel.min.js"></script>
	<!-- Waypoints -->
	<script src="js/jquery.waypoints.min.js"></script>
	<!-- Magnific Popup -->
	<script src="js/jquery.magnific-popup.min.js"></script>
	<!-- Main JS -->
	<script src="js/main.js"></script>
	<script src="js/angular.min.js"></script>
	<script src="js/app.js"></script>
	<script type="text/javascript">
		function showRegisterForm(){
			$('.loginBox').fadeOut('fast',function(){
				$('.social').hide();
				$('.registerBox').fadeIn('fast');
				$('.login-footer').fadeOut('fast',function(){
					$('.register-footer').fadeIn('fast');
				});
				$('.modal-title').html('Sign UP');
			}); 
			$('.error').removeClass('alert alert-danger').html('');			
			}
		function showLoginForm(){
			$('.social').show();
			$('#loginModal .registerBox').fadeOut('fast',function(){
			$('.loginBox').fadeIn('fast');
			$('.register-footer').fadeOut('fast',function(){
				$('.login-footer').fadeIn('fast');    
			});
			
			$('.modal-title').html('Login with');
			});       
			$('.error').removeClass('alert alert-danger').html(''); 
		}
		function openLoginModal(){
			$('.social').show();
			showLoginForm();
			setTimeout(function(){
				$('#loginModal').modal('show');    
			}, 230);
		}
	</script>
	</body>
</html>
